@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  /* g = global */
  --g-color-primary: #eee;
  --g-color-secondary: #fff;
  --g-padding: 8px;
  --g-margin: 4px;
  --g-border-radius-sm: 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: darkslategray;
  list-style: none;
}

html {
  background-color: cornflowerblue;
}

textarea {
  padding: var(--g-padding);
  /* margin: var(--g-margin) 0; */
  overflow: hidden;
  resize: none;
  outline: none;
}
