@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: darkslategray;
}

html {
  background-color: cornflowerblue;
}

:root {
  /* g = global */
  --g-color-primary: #eee;
  --g-color-secondary: #fff;
  --g-padding: 8px;
  --g-margin: 4px;
  --g-border-radius-sm: 3px;
}
